<nav class="breadcrumbs" aria-label="Breadcrumbs Navigation">
	<ol class="breadcrumbs__list no-bullet">
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__home-link" href="/home-page.html" aria-label="Go back to the home page">{{svg "home"}}</a>
		</li>
		<li class="breadcrumbs__item"><span class="breadcrumbs__icon" role="presentation">{{svg "chevron"}}</span></li>
	{{#each items}}
		{{#if @index}}<li class="breadcrumbs__item"><span class="breadcrumbs__icon" role="presentation">{{svg "chevron"}}</span></li>{{/if}}
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__link{{#if style}} {{ style }}{{/if}}" href="{{ url }}"{{#if @last}} aria-label="Current page" aria-current="page" tabindex="-1"{{/if}}>{{{ title }}}</a>
		</li>
	{{/each}}
	</ol>
</nav>